@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Sulphur+Point:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300&family=Limelight&display=swap');

:root {
  --mxr-dark-blue: #101615;
  --mxr-med-blue: #0E1A20;
  --mxr-light-blue: #14232C;
  --mxr-dark-gold: #D6B481;
  --mxr-med-gold: #E2D36C;
  --mxr-light-gold: #F0EBC5;
}

body {
  background-color: var(--mxr-light-blue) !important;
}

.mxr-dark-blue-bg {
  background-color: var(--mxr-dark-blue);
}

.mxr-med-blue-bg {
  background-color: var(--mxr-med-blue);
}

.mxr-light-blue-bg {
  background-color: var(--mxr-light-blue);
}

.mxr-dark-gold {
  color: var(--mxr-dark-gold);
}

.mxr-med-gold {
  color: var(--mxr-med-gold);
}

.mxr-light-gold {
  color: var(--mxr-light-gold);
}

h1 {
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 96px;
}

h2 {
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 64px;
}

h3 {
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 48px;
}

h4 {
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

h5 {
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: 'Limelight', sans-serif;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

/* For links you don't want underlined */
.no-underline {
  text-decoration: none;
}

.sulphur-light {
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 300;
}

.sulphur-regular {
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
}

.grotesque-medium {
  font-family: 'Darker Grotesque', sans-serif;
  font-family: 'Limelight', sans-serif;
  font-weight: 500;
}

.kulim-light {
  font-family: 'Kulim Park', sans-serif;
  font-family: 'Limelight', sans-serif;
  font-weight: 300;
}

.icon-size-lg {
  font-size: 24px;
}

.icon-size-xlg {
  font-size: 80px;
}

.mxr-container {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Styling hr bars */
hr {
  height: 4px;
  color:var(--mxr-med-gold);
  background-color: var(--mxr-med-gold);
  border: none;
}

hr.smaller {
  margin-left: 10%;
  margin-right: 10%;
}


/* BUTTONS */
.golden-button-small {
  height: 45px;
  width: 100px;
  background-color: var(--mxr-med-gold);
  color: var(--mxr-light-blue);
  border-radius: 15px;
  border-width: 0px;
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.golden-button-medium {
  height: 45px;
  width: 200px;
  background-color: #E2D36C;
  color: #14232C;
  border-radius: 15px;
  border-width: 0px;
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 20px;
}



.golden-button-large-outline {
  height: 45px;
  width: 300px;
  background-color: var(--mxr-light-blue);
  color: var(--mxr-med-gold);
  border-radius: 15px;
  border-color: var(--mxr-med-gold);
  border-width: 2px;
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.golden-button-med-outline {
  height: 45px;
  width: 200px;
  background-color: var(--mxr-light-blue);
  color: var(--mxr-med-gold);
  border-radius: 15px;
  border-color: var(--mxr-med-gold);
  border-width: 2px;
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.golden-button-small-outline {
  height: 45px;
  width: 100px;
  background-color: var(--mxr-light-blue);
  color: var(--mxr-med-gold);
  border-radius: 15px;
  border-color: var(--mxr-med-gold);
  border-width: 2px;
  font-family: 'Limelight', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  font-size: 20px;
}


/* SPACERS */
.spacer-xs {
  height: 10px;
}

.spacer-s {
  height: 20px;
}

.spacer-m {
  height: 40px;
}

.spacer-l {
  height: 80px;
}

.spacer-xl {
  height: 100px;
}

.spacer-xxl {
  height: 160px;
}

.padding-top-80 {
  padding-top: 80px;
}

.w-95 {
  width: 95% !important;
}

/* CARDS */

/* Use this to make the row extend to the right edge of the screen */
.flush-right {
  margin-right: -32px;
}

/* the div that uses .cardRow should also use .d-inline-flex */
.cardRow {
  overflow-x: auto;
}

.drinkCard {
  width: 384px;
  height: 560px;
  border-radius: 24px;
  margin-right: 32px;
  flex-shrink: 0;
}

.drinkCard-img {
  width: 100%;
  height: 320px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  object-fit: cover;
}

.drinkCard-text {
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
  color: var(--mxr-light-gold);
}

.drinkCard-text>p {
  padding-top: 16px;
  max-height: 5.5em;
  max-width: 350px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

/* REVIEW STYLING */
.review {
  background-color: var(--mxr-dark-blue);
  border-radius: 24px;
  padding: 32px;
  color:var(--mxr-light-gold);
  margin-top: 24px;
  margin-bottom: 24px;
}

.review-img {
  width: 60px;
  border-radius:50%;
}

/* COCKTAIL PAGE STYLING */
.cocktail-image {
  width: 400px;
  height: 550px;
  border-radius: 24px;
  z-index: 1;
  object-fit: cover;
}

.signup-fields {
  width: 250px;
  height: 30px;
}

@media screen and (max-width:1300px) {
  .cocktail-image {
    width:70%;
    height: 400px;
  }
}