.profile-pic-container {
    padding-bottom: 40px;
}

.profile-pic {
    font-size: 200px;
}

.profile-name {
    padding-top: 64px;
    background-color: white;
}

.profile-card {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.circle-img {
    border-radius: 50%;
}

.mxr-container-smaller {
    padding-left: 16%;
    padding-right: 16%;
}

.mxr-container-smaller .row {
    margin-top: 40px;
    margin-bottom: 40px;
}